.csveed-logo {
    width: 160px;
    position: absolute;
    top: 0;
    right: 250px;
}

.site-link {
    font-family: 'Architects Daughter','Helvetica Neue',Helvetica,Arial,serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 0px;
}

.site-link-sub {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-left: 10px;
    margin-bottom: 0px;
}

.site-link-sub2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    margin-left: 20px;
    margin-bottom: 0px;
}

hr {
    border-bottom:1px dashed #2879D0;
    margin-bottom: 10px;
}

.comparison-matrix {
    width: 160%;
    margin-bottom: 20px;
}

.comparison-matrix .property {
    text-align: left;
    font-weight: bold;
}

.comparison-matrix .library {
    text-align: center;
    font-weight: bold;
    width: 10%;
}

.comparison-matrix .appraisal {
    text-align: center;
}

.teaser {
    float: left;
    margin-right: 20px;
}

.solved {
    background:transparent url(../images/solved.png) no-repeat center center;
}